* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../image/cover.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black
}

/* HEADER */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.header-logo {
  margin: auto 10px;
}

.header-logo img {
  width: 50px;
  height: 50px;
}




.header-menu {
  margin-right:10px;
}

.header-menu li {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.header-menu ul a li:hover {
  background-color: black;
  color: white;
}



/* ONE SCROLL PAGE: COVER SECTION */
.cover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-top: 236px;
  margin-left: 0px;
  margin-right: 0px;
}

.cover h1 {
  border: 0px solid red;
  font-size: 80px;
}

.cover p {
  border: 0px solid red;
  font-size: 40px;
  margin-top: -50px;
}


/* ONE SCROLL PAGE: SLIDER SECTION */
.slider {
  background-image: url("../image/cover2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: 250px;
}

.slider h2 {
  font-size: 80px;
  color: black;
  text-align: right;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 90px
}

.slider p {
  background: rgba(0, 0, 0, 0.6);
  font-size: 50px;
  color: white;
  text-align: right;
  padding: 20px;
  padding-right: 100px
}


/* ONE SCROLL PAGE: CONTACT SECTION */

.contatti {
  width: 100%;
  height: 800px;
  text-align: center;
  background: #ddd;
  padding: 50px;
}

.contatti-title h2{
  font-size: 40px;
}

.contatti-title p{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.contatti-area{
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.area-rif {
  border: 1px solid #fff;
  flex-basis: 50%;
}

.rif {
  text-align: center;
  width: 80%;
  height: 100px;
  background: #fff;
  margin: 50px auto;
  padding:20px;
}

.rif h2{
  padding-bottom:10px;
}

.area-map {
  border: 1px solid #fff;
  flex-basis: 50%;
  height: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 640px;
  height: 500px;
}


.socials {
  border: 0px solid red;
  background: #fff;
  margin: 0px
}

.socials-list {
  border: 0px solid green;
  margin: 0px;
  padding: 0px;
  text-align: center
}

.socials-item {
  border: 0px solid blue;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-weight: bold
}

.socials-item a:hover {
  color: red
}

.footer {
  border: 0px solid red;
  width: 100%;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px
}

.socket {
  border: 0px solid red;
  width: 100%;
  text-align: center;
  background: #ddd;
  color: #000;
  padding: 10px;
  font-size: 12px
}

/* ----------------------- PAGE: SERVIZI--------------------  */

.servizi {
  width: 100%;
  height: 800px;
  text-align: center;
  background: #ddd;
  padding: 50px;
}

.servizi-btn {
  padding-top: 100px;
}

.servizi-title h2{
  font-size: 40px;
}

.servizi-title p{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.servizi-area {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.servizi a button{
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 80px;
  font-weight: bold;
  background: #fff;
}

.servizi a button:hover{
  background: black;
  color: white;
  cursor: pointer;
}


.servizio {
  background: white;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center
}

.servizio img {
  width: 100%
}


/* -------------------------- PAGE: CONTATTI -------------- */
.contatti-btn {
  padding-top: 100px;
}





/*  ----------------------------------------------- */
/*   ! tablet  */
/*  ----------------------------------------------- */
@media(max-width: 998px) {}

/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */
@media(max-width: 767px) {

  body, html {
    background-image: url("../image/cover.jpg");
    background-position: top;
    background-size: contain;
  }

  .header-hamburger{
    margin-right: 10px;
    padding-top: 18px;
  }

  .header-hamburger span{
    border-top: 3px solid black;
    width: 30px;
    padding: 3px;
    display: block;
  }


  /* HEADER */
  .header-menu {
    margin-right: 0px;
    flex-basis: 100%;
    display:none;
  }

  .header-menu-open{
    display: block;
  }

  .header-menu li {
    border: 0px solid black;
    border-bottom: 1px solid black;
    display: block;
    padding: 10px;
    margin: 10px auto;
  }



  /* ONE SCROLL PAGE: COVER */
  .cover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -190px;
  }

  .cover h1 {
    border: 0px solid red;
    font-size: 40px;
  }

  .cover p {
    border: 0px solid red;
    font-size: 20px;
    margin-top: -30px;
  }

  /* ONE SCROLL PAGE: SLIDER */
  .slider {
    background-image: url("../image/cover2.jpg");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 600px;
    margin-top: 90px;
  }

  .slider h2 {
    font-size: 40px;
    color: black;
    text-align: right;
    padding-top: 200px;
    padding-right: 15px;
    padding-bottom: 10px
  }

  .slider p {
    background: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 30px;
  }

  /* ONE SCROLL PAGE: CONTATTACI */
  .contatti {
    height: 1300px;
    margin-top: -160px;
  }

  .contatti-title h2, .servizi-title h2 {
    font-size: 40px;
  }

  .contatti-title p, .servizi-title p {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .contatti-area{
    padding: 20px;
    margin-top: 20px;
    display: flex;
  }

  .area-rif {
    border: 1px solid #fff;
    flex-basis: 100%;
  }

  .area-map {
    border: 1px solid #fff;
    flex-basis: 100%;
    height: 500px;
  }

  /* PAGE: SERVIZI  */
  .servizi {
    background: #ddd;
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-bottom: 30px;
  }

  .servizi-area {
    display: block;
    width: 100%;
  }

  .servizio {
    background: white;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 20px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
  }

  .servizio img {
    width: 100%
  }

  .servizi a button{

    margin-top: 0px;
    margin-bottom: 20px;

  }

  /* -------------------------- PAGE: CONTATTI -------------- */
  .contatti-btn {
    padding-top: 260px;
    height: 1500px;
  }




/* SOCIALS */
  .socials {
    padding: 0px;
    width: 100%;
  }

  .socials-list {
    margin: 0px;
    padding: 0px;
    text-align: center
  }

  .socials-item {
    border-bottom: 1px solid lightgrey;
    display: block;
    padding: 5px;
    font-weight: bold;
  }

  .socials-item a:hover {
    color: red
  }
}
